* {
    box-sizing: border-box;
}

body {
    font-family: Lato;
    letter-spacing: .2px;
}


h2 {
    font-family: "exo 2";
    letter-spacing: .2px;
    font-weight: 700;
    font-size: 40px;
}
.text-center {
    padding: 10px;
}

/* content body  */
.middle-text-img {
    position: relative;
    left: 622px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.middle-text > h2 {
    margin-bottom: 10px;
    font-size: 40px;
    color: #333;
}

.middle-text > p {
    font-family: Lato;
    color: #585e68;
}

span {
    text-align: center;
}

.svg {
    position: relative;
    left: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.svg-b {
    position: relative;
    left: 160px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-text {
    font-family: Lato;
    color: #585e68;
    line-height: 26px;
    font-size: 15px;
    letter-spacing: .2px;
}
/* first content  */
.second-content-bg {
    background-image: url('../img/city2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
}

/* third content  */

.third-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-button {
    position: relative;
    left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-learn, .btn-reg {
    position: relative;
    left: 75px;
}

.btn-learn {
    border-radius: 25px;
    padding: 10px 40px;
    border-color: #ffb506;
    font-size: 15px;
}

.btn-learn:hover {
    background-color: #fff;
    border: 2px solid #ffb506;
    color: #ffb506;
}

.btn-reg {
    border-radius: 25px;
    padding: 10px 40px;
    background-color: #00002A;
    color: #fff;
    font-size: 15px;
}

.btn-reg:hover {
    background-color: #fff;
    border: 2px solid #00002A;
    color: #00002A;
}

/* forth-section  */
.forth-section {
    background-image: url('../img/pexels-karolina-grabowska-4386375.jpg');
    margin-top: 50px;
    margin-bottom: 50px;
}

.forth-img {
    position: relative;
    left: 150px;
}

.forth-section-msg {
    position: relative;
    right: 100px;
}

.forth-section-bg {
    background-image: url('../img/city1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
}

/* fifth content  */
.fifth-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fifth-content-header {
    margin-bottom: 10px;
    font-size: 40px;
    color: #333;
}
.fifth-content-svg {
    position: relative;
    left: 628px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* sixth-content  */
.sixth-content-bg {
    background-image: url('../img/trading.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    margin-top: 100px;
    margin-bottom: 50px;
}

.sixth-content-widget {
    position: relative;
    left: 100px;
    bottom: 70px;
}

/* seventh-content */
.seventh-content-svg {
    position: relative;
    left: 628px;
    margin-top: 30px;
    margin-top: 30px;
}

.seventh-content-header {
    position: relative;
    left: 500px;
    margin-top: 30px;
    margin-top: 30px;
    justify-content: center;
}

.seventh-content-widget {
    position: relative;
    left: 90px;
    margin-top: 50px;
    margin-bottom: 30px;
}