* {
    box-sizing: border-box;
}

body {
    font-family: Lato;
    letter-spacing: .2px;
;
}


h2 {
    font-family: "exo 2";
    letter-spacing: .2px;
    font-weight: 700;
    font-size: 40px;
}
.text-center {
    padding: 10px;
}

.nav-link {
    font-size: 20px;
}

.nav-link:hover {
    font-size: 30px;
    text-shadow: 2px 4px rgba(255, 255, 255, .25);
}

/* content body  */
.middle-text-img,.fifth-content-svg, .seventh-content-svg {
   margin-left: 690px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.middle-text > h2 {
    margin-bottom: 10px;
    font-size: 40px;
    color: #333;
}

.middle-text > p {
    font-family: Lato;
    color: #585e68;
}

span {
    text-align: center;
}

.svg {
    margin-left: 180px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-text {
    font-family: Lato;
    color: #585e68;
    line-height: 26px;
    font-size: 15px;
    letter-spacing: .2px;
}
/* first content  */
.second-content-bg {
    background-image: url('../img/city2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
}

.second-content-msg {
    margin-bottom: 100px;
}

/* third content  */

.third-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-button {
    margin-left: 86px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-learn {
    border-radius: 25px;
    padding: 10px 40px;
    border-color: #ffb506;
    font-size: 15px;
}

.btn-learn:hover {
    background-color: #fff;
    border: 2px solid #ffb506;
    color: #ffb506;
}

.btn-reg {
    border-radius: 25px;
    padding: 10px 40px;
    background-color: #00002A;
    color: #fff;
    font-size: 15px;
}

.btn-reg:hover {
    background-color: #fff;
    border: 2px solid #00002A;
    color: #00002A;
}

/* forth-section  */
.forth-section {
    background-image: url('../img/pexels-karolina-grabowska-4386375.jpg');
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.forth-img {
   margin-left: 100px;
}

.forth-section-header {
    position: relative;
    top: 20px;
    margin-left: 511px;
}

.forth-section-msg {
    position: relative;
    margin-right: 92px;
    margin-top: 40px;
    font-size: 25px;
}

.forth-section-bg {
    background-image: url('../img/city1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    width: 100%;
}

/* fifth content  */
.fifth-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fifth-content-header {
    margin-bottom: 10px;
    font-size: 40px;
    color: #333;
}

.fifth-content-msg {
    font-weight: 500;
    font-size: 20px;
}
/* sixth-content  */
.sixth-content-bg {
    background-image: url('../img/trading.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
    margin-top: 100px;
    margin-bottom: 50px;
}

.sixth-content-widget {
    position: absolute;
    margin-left: 100px;
    margin-top: -65px;
}

h2.seventh-content-header.text-center {
    margin-top: -20px;
}

.seventh-content-widget {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* google map section  */
#google-map-content {
    height: 500px;
    background-color: #808080;
}

/* ninth-content-section */
.ninth-content {
    margin-top: 30px;
    margin-bottom: 40px;
}

/* footer-content  */
.footer-content {
    background-image: url('../img/footer.jpg');
    min-height: 300px;
    margin-top: 30px;
}

/* + registration page styling +  */
.bg-image {
    background-image: url('../img/pexels-david-mcbee-730547.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.bg-image-header {
    position: absolute;
    margin-top: 85px;
    margin-left: 264px;
    text-shadow: 4px 4px rgba(255, 255, 255, 0.905);
}

/* + form section styling +  */

.form-row {
    background: rgb(58,105,180);
    background: radial-gradient(circle, rgba(58,105,180,1) 27%, rgba(253,29,29,1) 74%, rgba(255,223,8,1) 88%);
}
.form-bg-image {
    background: rgb(3,5,5);
    background: radial-gradient(circle, rgba(3,5,5,1) 41%, rgba(9,107,171,0.5662640056022409) 70%);
}