{% block footer %}
<div class="col-lg-12 footer-content">
  <div class="row">
    <div class="col-lg-4">
        <div>
          <img src="/static/img/WhatsApp Image 2020-10-17 at 5.24.29 PM.jpeg" alt="" class="footer-logo">
        </div>
        <p class=" col-lg footer-msg text-center text-light">
          At CRYPTO HOLDINGS Trade we trade both currency pairs and commodities in the live market five(5) days
          a week with our group of experienced traders and market analysts in order to maximize our investors profit.
          After years of professional trading
        </p>
    </div>
    
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg footer-links-content text-center">
          <h3 class="text-light">Useful links</h3>
            <ul class="text-light">
              <li><a href="{% url 'main:company-information' %}" class="text-light">COMPANY INFORMATION</a></li>
              <li><a href="{% url 'main:privacy-policy' %}" class="text-light">PRIVACY POLICY</a></li>
              <li><a href="{% url 'main:margin-information' %}" class="text-light">MARGIN INFORMATION</a></li>
              <li><a href="{% url 'main:terms-of-use' %}" class="text-light">TERMS OF USE</a></li>
            </ul>
        </div>   
      </div>
    </div>
    <div class="col-lg-4 subscribe-div">
      <h3 class="text-center text-light subscribe-heading">Subscribe Newsletter</h3>
      <form>
        <span class="text-light text-center subscribe-msg">Sign up for Alerts, Special 
          <a class="text-warning" href="#" title="" itemprop="url">Offers Updates.</a>
        </span>
        <div class="col-lg-10 subscribe-input-div">
          <input type="email" class="form-control subscribe-input" placeholder="Enter your Email Address">
        </div>
    </form>
    <div class="col-lg footer-div m-2">
    <button class="btn btn-lg btn-warning footer-btn" type="submit"><i class="flaticon-mail"></i>SUBSCRIBE</button>
    </div>
    </div>
  </div>
</div>
    
{% endblock  %}